@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary-0: #fff;
  --color-primary-50: var(--color-slate-50);
  --color-primary-100: var(--color-slate-100);
  --color-primary-200: var(--color-slate-200);
  --color-primary-300: var(--color-slate-300);
  --color-primary-400: var(--color-slate-400);
  --color-primary-500: var(--color-slate-500);
  --color-primary-600: var(--color-slate-600);
  --color-primary-700: var(--color-slate-700);
  --color-primary-800: var(--color-slate-800);
  --color-primary-900: var(--color-slate-900);
  --color-primary-970: hsl(200, 20%, 16%);
  --color-primary-975: hsl(200, 20%, 13%);
  --color-primary-1000: #000;
}

.selected.autocomplete-item {
  @apply bg-primary-200 dark:bg-primary-800;
}

.autocomplete-item:hover {
  @apply bg-primary-200 dark:bg-primary-800;
}